### **Question 2**

### **Question 3**

In [ ]:
def replace_poor(str):
    not_idx = str.find("not")
    poor_idx = str.find("poor")
    
    if not_idx !=-1 and poor_idx!=-1 and not_idx < poor_idx:
        return str[:not_idx] + str[not_idx+4:poor_idx] + "good" + str[poor_idx+4:]
    else:
        return str
    
str="The lyrics is not that poor!"
print(replace_poor(str)) 
str="The lyrics is that poor!"
print(replace_poor(str))

The lyrics is that good!
The lyrics is that poor!

### **Question 4**

In [ ]:
sampleList = [[10,20],[40],[30,56,25],[10,20],[33],[40]]
ans =[]
for x in range(len(sampleList)):
    if sampleList[x] in ans:
        continue
    else:
        ans.append(sampleList[x])
print(ans)

[[10, 20], [40], [30, 56, 25], [33]]

### **Question 5**

In [13]:
a_tuple = (10,20,30,40,50)
print(a_tuple[::-1])

(50, 40, 30, 20, 10)

### **Question 6**

In [26]:
sample_dict = { "Bablu": 60 ,"Tarun":70,"Tasauvar" :44 ,"Gaurav":69,"Nishant":87,"Manav":55}
min_val = float('inf')
max_val = float('-inf')
for k,v in sample_dict.items():
    if(v<min_val):
        min_val=v
    if(v>max_val):
        max_val =v

print(f"Minimum value : {min_val}")
print(f"Maximum value : {max_val}")

Minimum value : 44
Maximum value : 87

### **Question 7**

In [ ]:
data_set = frozenset({1,2,3,4,5,6})
for x in data_set:
    print(x,end=" ")
#  ----- Features of frozenset -----
# 1. We initialized a frozenset then we can't perform any modification operations.

1 2 3 4 5 6

### **Question 8**

In [ ]:
import calendar

In [30]:
year = 2025
month = 2

print(calendar.month(year,month))
first_day, num_days = calendar.monthrange(year, month)
print(f"First Day: {first_day}, Total Days: {num_days}")

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

First Day: 5, Total Days: 28

### **Question 13**

``SELECT count(employee_id) as total_employees, department
FROM Employee
GROUP BY department``