### Ques-1: identify orders with atleast one product above 100rs. OR Find all orders whrere one product has a price greater than 100rs
```select order from table_name where price > 100;```

### Ques-2: Find the days when daily sales were 50% above or below the average.
``` select days from table_name where sales*0.5 > sales or avg(sales) < sales; ```

 why do we use SQL constraint we can use while creating the table

difference b/w primary key and unique key

The **Primary Key** and **Unique Key** are two important constraints in relational databases that help enforce data integrity. Hereâ€™s a comparison:

| **Feature**              | **Primary Key**                                                                                       | **Unique Key**                                                                                           |
|---------------------------|-------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------|
| **Definition**            | Uniquely identifies each record in a table.                                                         | Ensures all values in a column or combination of columns are unique.                                     |
| **Uniqueness**            | Must be unique for each row in the table.                                                            | Must also be unique for each row in the table.                                                           |
| **NULL Values**           | Cannot contain `NULL` values.                                                                       | Can contain one or more `NULL` values (depending on the database).                                       |
| **Number of Keys**        | Only one primary key is allowed per table.                                                          | A table can have multiple unique keys.                                                                   |
| **Index**                 | Automatically creates a clustered index (in most databases like SQL Server, though it may vary).    | Creates a non-clustered index by default.                                                                |
| **Purpose**               | Used to uniquely identify rows and is a fundamental part of database design.                        | Used to enforce the uniqueness of values in a column or combination of columns.                          |
| **Combination of Columns**| Can be composed of one or more columns (composite primary key).                                      | Can also be composed of one or more columns.                                                             |

### Key Differences
1. **NULL Handling**: Primary keys do not allow `NULL`, while unique keys may allow `NULL` values.
2. **Quantity in a Table**: Only one primary key is allowed, but there can be multiple unique keys.
3. **Index Type**: Primary keys often result in a clustered index, whereas unique keys create non-clustered indexes.

### Example

#### Primary Key:
```sql
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY, -- Only one primary key
    Name VARCHAR(100),
    Email VARCHAR(100) UNIQUE
);
```

#### Unique Key:
```sql
CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    RollNumber INT UNIQUE,       -- Unique but allows NULL
    Email VARCHAR(100) UNIQUE
);
```

In this example:
- `EmployeeID` and `StudentID` are **Primary Keys**.
- `Email` and `RollNumber` are **Unique Keys**. They ensure no duplicate values but may allow `NULL` (e.g., in the case of optional email).

### Ques-: How to read top 5 records from a  table  using a db.

```SELECT * FROM table_name LIMIT 5;```

- Explanation: LIMIT 5 fetches the first 5 rows from the table.