In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector as conn

try:
    db = conn.connect(
        host='localhost',
        username='root',
        password='root',
        database='ecommerce2',
        port=3306
    )
    print("Connected Successfully")
except conn.Error as e:
    print(f"Error: {e}")
# cur =db.cursor()

In [ ]:
## 1. List all unique cities where customers are located.

In [ ]:
# query = ''' select distinct(customer_city) from customer'''
# cur.execute(query)
# data = cur.fetchall()
# data